{% extends 'base.html' %}
{% block content %}
    <h1>DETAIL</h1>
    <hr>
    {% if myapp.image %}
      <img src="{{myapp.image.url}}" />
    {% endif %}
    <p> 글 제목 : {{myapp.title}} </p>
    <p> 글 내용 : {{myapp.content}} </p>
    <p> 생성시각 : {{myapp.created_at}} </p>
    <p> 수정시각 : {{myapp.updated_at}} </p>
    <hr>
    <form action="{% url 'myapps:delete' myapp.pk %}">
        <input type="submit" value="삭제하기" />
    </form>
    <a href="{% url 'myapps:update' myapp.pk %}">[update]</a>
    <a href="{% url 'myapps:index' %}">[Back]</a>
{% endblock content %}

